@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:cornflowerblue">TRANG QUẢN LÝ NHẬT KÝ SẢN LƯỢNG KHOÁN CỦA CÔNG NHÂN</h1>
    <p class="lead">Muốn tra cứu hãy nhấn vào các mục bên thanh menu !!</p>
</div>

<div class="row">
    
</div>